 /* место для вашего кода */
body {
  overflow-x: hidden;
  margin: 0;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 295px;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box;
}

.header-nav-links {
  display: flex;
  gap: 35px;
  padding-left: 55px;
  margin: 0;
}

.header-nav-links-object {
  list-style: circle;
  margin: 0;
  padding: 0;
}

.header-links-list-item-no-bullit {
  list-style: none;
}

.header-link {
  font-size: 19px;
  white-space: nowrap;
  text-decoration: underline;
  color: inherit;
  padding: 5px 0;
}

.text-link:hover {
  background-color: #000000;
  color: white;
  text-decoration: none;
  padding: 3px 8px;
}

.header-link-active {
  text-decoration: none;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  margin: 0 25px;
  padding: 10px;
}

.header-logo-image {
  width: 100%;
  height: auto;
}

.address {
  font-style: normal;
}

.header-address {
  font-style: normal;
  padding-right: 89px;
  text-align: right;
}

.address-object {
  display: block;
  font-size: 19px;
  line-height: 1.4;
  text-underline-position: under;
  text-decoration: underline;
  margin-bottom: 8px;
  padding: 2px 0;
}

.address-building {
  font-size: 19px;
  line-height: 1.4;
  margin: 0;
  padding: 3px 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.63;
  background-color: #000000;
  z-index: 1;
}

.cover {
  max-width: 1100px;
  width: 100%;
  background-image: url(../images/cover.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 165px 50px 50px 50px;
  background-position: center;
  height: 757px;
}

.content {
  width: 100%;
  margin: 0 auto;
  max-width: 1105px;
  box-sizing: border-box;
  padding: 5px;
}

.cover-title {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 25px;
  color: white;
  font-size: 105px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 32px;
  z-index: 2;
  margin: 0;
  padding: 10px 0;
}

.aligned-text-left {
  text-align: left;
}
.aligned-text-center {
  text-align: center;
  margin-left: 32px;
}
.aligned-text-right {
  text-align: right;
  margin: -5px 0px 0px 614px;
  padding: 0px 0px 0px 0px;
}

.cover-subtitle {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  padding: 117px 0 0;
  margin-top: 0;
}

.cover-subtitle-text {
  color: white;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
  margin-top:-10px;
}

.button-raise {
  padding: 0 32px 0 31px;
  border: 1px solid;
  color: white;
  background-color: transparent;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  margin-left: 31px;
  margin-top:-13px;
  height: 51px;
  width: 256px;
}

.button-raise:hover {
  color: #000000;
  background-color: white;
  border-color: black;
  transform: scale(1.02);
}

.lots {
  padding: 185px 55px 0 30px;
  margin-top: 15px;
  justify-content: flex-start;
}

.lots-heading {
  padding: 0 0 32px 45px;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0;
}

.lots-card-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.lost-card-list-object {
  flex: 1;
  min-height: 605px;
  padding: 5px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  padding: 3px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 555px;
  padding: 55px 45px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 3px;
  height: 700px;
  width: 334px;
}

.card-film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: local;
}

.card-book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: local;
}

.card-picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: local;
  
}

.card-title {
  position: relative;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 23px;
  z-index: 2;
  margin: 0;
  padding: 8px 0;
}

.card-text {
  position: relative;
  color: white;
  font-size: 21px;
  text-decoration: none;
  z-index: 2;
  margin: 0;
  padding: 8px 0;
}

.lots-more {
  display: inline-block;
  margin: 35px 0 0 45px;
  font-size: 21px;
  text-decoration: underline;
  text-underline-position: under;
  color: inherit;
  padding: 8px 15px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px;
  margin: 0 auto;
  margin-top: 160px;
  max-width: 1100px;
  width: 100%;
}

.about-column {
  justify-self: center;
}

.about-column-text {
  grid-column: 2/4;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  background-color: #000000;
  margin-right: 55px;
  margin-top: -8px;
}

.about-logo-image {
  width: 148px;
}

.about-title {
  padding: 100px 0 104px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 0px 0px 180px 0px;
}

.about-text p {
  flex-direction: row;
  line-height: normal;
  font-size: 20px;
}

.footer {
  display: flex;
  padding: 0 55px 85px 55px;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1105px;
  width: 100%;
  margin: 0 auto;
}

.footer-menu {
  width: auto;
  height: auto;
  padding: 5px;
}

.footer-menu-list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.footer-menu-list-object {
  margin-bottom: 12px;
  padding: 3px 0;
}

.footer-menu-link {
  font-size: 19px;
  line-height: normal;
  text-underline-position: under;
  text-decoration: underline;
  color: inherit;
  padding: 5px 10px;
}

.footer-menu-link-active {
  text-decoration: none;
}

.footer-social-icon {
  width: 50px;
  height: 50px;
  padding: 2px;
}

.footer-social-list {
  display: flex;
  list-style: none;
  gap: 52px;
  margin: 0;
  padding: 0;
}

.footer-social-list-object {
  margin: 0;
  padding: 3px;
}
