body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 293px;
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header-nav-links {
  display: flex;
  gap: 32px;
  padding-left: 50px;
}

.header-nav-links-object {
  list-style-type: circle;
}

.header-links-list-item_no-bullit {
  list-style: none;
}

.header-link {
  font-size: 18px;
  white-space: nowrap;
  text-decoration: underline;
  text-underline-position: under;
}

.text-link:hover {
  background-color: #000000;
  color: #ffffff;
}

.header-link-active {
  text-decoration: none;
}

.header-logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 140px;
  height: auto;
}

.header-logo-image {
  width: 100%;
  height: auto;
}

.address {
  font-style: normal;
}

.header-address {
  justify-self: end;
  font-style: normal;
  padding-right: 84px;
}

.address-object {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-decoration: underline;
  text-underline-position: under;
}

.address-building {
  font-size: 18px;
  line-height: 1.35;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.62;
  background: #000000;
  z-index: 1;
}

.cover {
  max-width: 1100px;
  width: 100%;
  background: url(../images/cover.jpg) center/cover no-repeat;
  position: relative;
  padding: 165px 50px 50px;
  height: 757px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cover-title {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  color: #ffffff;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;
  z-index: 2;
}

.aligned-text-left {
  text-align: left;
  line-height: 1;
}

.aligned-text-center {
  text-align: center;
  margin-left: 32px;
  line-height: 1;
}

.aligned-text-right {
  text-align: right;
  margin: -5px 0 0 614px;
  padding: 0;
  line-height: 1;
}

.cover-subtitle {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 78px;
  padding: 117px 0 0;
}

.cover-subtitle-text {
  color: #ffffff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
  margin-top: -10px;
}

.button-raise {
  padding: 0 32px;
  border: 1px solid currentColor;
  color: #ffffff;
  background: transparent;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  margin-left: 31px;
  margin-top: -13px;
  height: 51px;
  width: 256px;
  cursor: pointer;
}

.button-raise:hover {
  color: #000000;
  background-color: #ffffff;
}

.lots {
  padding: 179px 50px 0 25px;
  margin-top: 9px;
}

.lots-heading {
  padding: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.lots-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.lost-card-list-object {
  height: 100%;
}

.card-link {
  height: 100%;
  display: block;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 334px;
  height: 596px;
  padding: 50px 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-title {
  position: relative;
  color: #ffffff;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 22px;
  z-index: 2;
}

.card-text {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  z-index: 2;
}

.lots-more {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-position: under;
  width: fit-content;
  color: #000000;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px;
  margin: 160px auto 0;
  max-width: 1100px;
  width: 100%;
}

.about-column {
  justify-self: center;
}

.about-column-text {
  grid-column: 2 / span 2;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  background: #000000;
  margin-right: 55px;
  margin-top: -8px;
}

.about-logo-image {
  width: 148px;
  height: auto;
}

.about-title {
  padding: 100px 0 104px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-bottom: 180px;
}

.about-text p {
  font-size: 20px;
  line-height: normal;
  margin: 0;
}

.footer {
  display: flex;
  padding: 0 50px 80px;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.footer-menu {
  width: auto;
}

.footer-menu-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.footer-menu-link {
  font-size: 18px;
  line-height: normal;
  text-decoration: underline;
  text-underline-position: under;
  color: #000000;
}

.footer-menu-link-active {
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  list-style: none;
  gap: 48px;
  padding: 0;
  margin: 0;
}

.footer-social-icon {
  width: auto;
  height: 48px;
}

/* Дополнительные стили для улучшения совместимости */
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
}
